<nav class="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li routerLinkActive="menu-item-active">
      <a routerLink="by-capital">
        <i-lucide [name]="plane" class="icon"></i-lucide>
        Por capital
      </a>
    </li>
    <li routerLinkActive="menu-item-active">
      <a routerLink="by-country">
        <i-lucide [name]="map" class="icon"></i-lucide>
        Por país
      </a>
    </li>
    <li routerLinkActive="menu-item-active">
      <a routerLink="by-region">
        <lucide-icon [name]="region" class="icon"></lucide-icon>
        Por región
      </a>
    </li>
    </ul>
</nav>